html, body, #navbar, #introTxt, #footer, #projectIntro,
.projectRow, .rowSpacer {
  background-color: #f5f5f5;
}

#introTxt, #projectIntro, h1 {
  color: #000000;
  font-family: "Times New Roman", Times, serif;
  font-weight: normal;
  font-size: 44px;
  line-height: 56px;
  /**
  font-size: 3.6vw;
  line-height: 4.3vw;
  **/
}

#navbar, h2 {
  color: #000000;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
}

p {
  color: #000000;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 24px;
  /**
  font-size: 1.6vw;
  line-height: 2.2vw;
  **/
}

#footer {
  color: #000000;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 12px;
}


/**links and hover states**/
a.navlink, a.navlink:link, a.navlink:visited {
  text-decoration: none;
  color: #000000;
}

a.intextLink,a.intextLink:link, a.intextLink:visited {
  text-decoration: none;
  opacity: 50%;
  color: #000000;
}

a.navlink:hover, a.intextLink:hover {
  text-decoration: none;
  opacity: 25%;
  color: #000000;
}

a.navlink:active, a.intextLink:active {
  color: #000000;
  text-decoration: none;
}





/******navigation bar*****/
#navbar {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 6%;
    padding-right: 6%;

    border-bottom: solid 0.3px #000000;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


#footer {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 6%;
    padding-right: 6%;

    border-top: solid 0.3px #000000;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


#introTxt {
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 6%;
  padding-right: 6%;
}

#projectIntro {
    padding-top: 2%;
    padding-bottom: 6%;
    padding-left: 6%;
    padding-right: 6%;

    border-bottom: solid 0.3px #000000;
}


.projectRow {
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 6%;
  padding-right: 6%;
}




.col-lg {
  padding-bottom: 6%;
}



.rowSpacer {
  padding-top: 4%;
  padding-bottom: 4%;
}


.fit-image {
width: 100%;
object-fit: cover;
}

.imgSpacer {
  padding: 3%;
}
